# --- Global Settings --- #

accounting syslog
accounting file = /var/log/tacacs_acct.log
key = "{{ tacacs_key }}"



# --- Network Authentication Servers --- #

# Host-specific configuration
# Cisco 2911s
host = 192.168.67.21 { key = "{{ c2911_key }}" }
host = 192.168.67.22 { key = "{{ c2911_key }}" }

# Cisco Catalyst 2960s
host = 192.168.40.241 { key = "{{ c2960_key }}" }
host = 192.168.40.242 { key = "{{ c2960_key }}" }
host = 192.168.40.243 { key = "{{ c2960_key }}" }
host = 192.168.40.244 { key = "{{ c2960_key }}" }
host = 192.168.40.245 { key = "{{ c2960_key }}" }
host = 192.168.40.246 { key = "{{ c2960_key }}" }

# Cisco Catalyst 3750
host = 10.255.255.6 { key = "{{ c3750_key }}" }

# Dell 5316M in InfoSec blade chassis
host = 192.168.23.238 { key = "{{ d5316m_key }}" }
host = 192.168.23.239 { key = "{{ d5316m_key }}" }



# --- ACLs --- #

# Broken up by type of device

# All network devices
acl = all {
    permit = 192\.168\.40\.24[1-6]
    permit = 192\.168\.67\.2[12]
    permit = 10\.255\.255\.
    permit = 192\.168\.23\.23[89]
}

# Access layer switches
acl = access_switches {
    # C2960-1.1
    permit = 192\.168\.40\.241

    # C2960-1.2
    permit = 192\.168\.40\.242

    # C2960-1.3
    permit = 192\.168\.40\.243

    # C2960-2.1
    permit = 192\.168\.40\.244

    # C2960-3.1
    permit = 192\.168\.40\.245

    # C2960-3.2
    permit = 192\.168\.40\.246
}

# Routers
acl = routers {
    # 2911 Voice Gateway router
    permit = 192\.168\.40\.3

    # C3750
    permit = 10\.255\.255\.6$

    # 2911s in Dev
    permit = 192\.168\.67\.2[12]
    permit = 192\.168\.64\.253
}

# Firewalls
acl = firewalls {
    permit = 192\.168\.40\.
}

# N5Ks
acl = n5ks {
    permit = 192\.168\.40\.
}

# UCS Fabric Extenders
acl = ucsfx {
    permit = 192\.168\.40\.
}



# --- Groups --- #

group = enterprise_admin {
    default service = permit
    login = PAM
    acl = all

    # Default login exec level
    service = exec {
      priv-lvl = 15
    }
}

group = access_admin {
    default service = deny
    login = PAM
    acl = access_switches

    # Default login exec level
    service = exec {
      priv-lvl = 15
    }

    # Basic commands
    cmd = enable { permit .* }
    cmd = exit { permit .* }
    cmd = end { permit .* }
    cmd = configure { permit .* }

    # Group specific commands
    cmd = show {
        permit int.*
        permit ip.*
        permit priv.*
        permit running-config
    }

    cmd = interface {
        # Don't allow modification of trunk links
        deny "GigabitEthernet [0-9]/[0-9]/(49|50|51|52)"
        deny "FastEthernet [0-9]/[0-9]/(49|50|51|52)"

        permit "FastEthernet.*"
        permit "GigabitEthernet.*"
    }

    cmd = switchport  {
        permit "access vlan.*"
        permit "mode access"
    }

    cmd = description {
        permit .*
    }

    cmd = no {
        permit shutdown
        permit "switchport mode access"
    }

    cmd = shutdown { permit .* }

    cmd = do {
        permit show (int|ip|priv|running-config).*
        permit switchport ("access vlan"|"mode access").*
        permit description.*
    }
}

group = router_admin {
    default service = permit
    login = PAM
    acl = routers

    # Default login exec level
    service = exec {
      priv-lvl = 15
    }

    # Basic commands
    cmd = enable { permit .* }
    cmd = exit { permit .* }
    cmd = end { permit .* }
    cmd = configure { permit .* }

    # Group specific commands
}

group = firewall_admin {
    default service = deny
    login = PAM
    acl = firewalls

    # Default login exec level
    service = exec {
      priv-lvl = 15
    }

    # Basic commands
    cmd = enable { permit .* }
    cmd = exit { permit .* }
    cmd = end { permit .* }
    cmd = configure { permit .* }

    # Group specific commands
}

group = n5k_admin {
    default service = deny
    login = PAM
    acl = n5ks

    # Default login exec level
    service = exec {
      priv-lvl = 15
    }

    # Basic commands
    cmd = enable { permit .* }
    cmd = exit { permit .* }
    cmd = end { permit .* }
    cmd = configure { permit .* }

    # Group specific commands
}

group = ucs_admin {
    default service = deny
    login = PAM
    acl = ucsfx

    # Default login exec level
    service = exec {
      priv-lvl = 15
    }

    # Basic commands
    cmd = enable { permit .* }
    cmd = exit { permit .* }
    cmd = end { permit .* }
    cmd = configure { permit .* }

    # Group specific commands
}

group = reader {
    default service = deny
    login = PAM
    acl = all

    # Default login exec level
    service = exec {
      priv-lvl = 1
    }

    # Basic commands
    cmd = enable { permit .* }
    cmd = exit { permit .* }
    cmd = end { permit .* }

    # Group specific commands
    cmd = show {
        permit .*
    }
}



# --- Users --- #

user = sdoran {
    login = PAM
    member = enterprise_admin
}

user = anthony {
    login = PAM
    member = enterprise_admin
}

user = tbladmin {
    login = PAM
    member = enterprise_admin
}

user = rob {
    login = PAM
    member = enterprise_admin
}

user = tbadawy {
    login = PAM
    member = access_admin
}

user = ljennison {
    login = PAM
    member = reader
}

user = awheeler {
    login = PAM
    member = reader
}

# User account configured for use with "rancid"
user = rancid {
    login = PAM
    service = exec {
        priv-lvl = 15
    }

    cmd = show { permit .* }
    cmd = exit { permit .* }
    cmd = dir { permit .* }
    cmd = write { permit term }
    cmd = terminal { permit (length|width) }
    cmd = more { permit .* }

}
